{% extends 'base.html.twig' %}

{% block title %}Hello WrongController!{% endblock %}

{% block body %}
    <div class="flex items-center justify-center h-screen" {{ react_component('Hello', { fullName: 'DevCybSec' }) }}></div>
{% endblock %}
